<div class="row">
    <div class="span8">
        <h1>Workouts</h1>
    </div>
</div>&nbsp;
<div class="row">
    <div class="span6">
        <%= link_to "Add Workout", new_workout_path %></br>
        <h2>Standard Workouts</h2>
        <% if @officialWorkouts %>
          <% @officialWorkouts.each do |w| %>
            <% if w.workout_category %>
              <%= link_to "#{w.workout_category.category}", workout_path(w) %>
              </br>
            <% end %>
          <% end %>
        <% end %>
        <h2>Custom Workouts</h2>
        <% if @customWorkouts %>
          <% @customWorkouts.each do |w| %>
            <% if w.workout_category %>
              <%= link_to "#{w.workout_category.category}", workout_path(w) %>
              </br>
            <% end %>
          <% end %>
        <% else %>
          <p>You have no custom workouts at this time</p>
        <% end %>
    </div>
</div>
