<div class="row">
    <div class="span4"><%= link_to "Connect With Facebook", "/auth/facebook" %></div>
</div>
<div class="row">
    <div class="span4">
        <div class="fb-login-button" data-show-faces="true" data-width="300" data-max-rows="1">Login</div>
    </div>
</div>
