<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Urban Crossfitters - View Daily Caloric Intake</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
	<link href="../../assets/stylesheets/fonts.css" rel="stylesheet" type="text/css">
	<!--IMPORTANT! fonts css must be placed before main css stylesheet-->
    <link href="../../assets/stylesheets/bootstrap.css" rel="stylesheet" type="text/css">
	<link href="../../assets/stylesheets/application.css" rel="stylesheet" type="text/css">
	<link href="../../assets/stylesheets/bootstrap-responsive.css" rel="stylesheet" type="text/css">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="../assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
  </head>

  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="index.html">Urban Crossfitters</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
			  <li><a href="profile.html"><i class="icon-user icon-white"></i>Profile</a></li>
			  <li><a href="workout.html"><i class="icon-fire icon-white"></i>Workout</a></li>
			  <li><a href="health.html"><i class="icon-heart icon-white"></i>Health</a></li>
			  <li><a href="goals.html"><i class="icon-calendar icon-white"></i>Goals</a></li>
			  <li><a href="help.html"><i class="icon-question-sign icon-white"></i>Help</a></li>
              <li><a href="about.html"><i class="icon-star icon-white"></i>About/Contact</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    <!-- Le end of le navigation
    ================================================== 
	Begin body code -->	
	
    <div class="container"></br></br></br></br>

      <!-- Example row of columns -->
      <h2><font size="36">VIEW DAILY CALORIC INTAKE</font></h2></br>
      <div class="row-fluid">
        <div class="span``">
          <p>CALCULATE.</p>
     
      </div>
    </div> <!-- /container -->
          </br><p><a class="btn btn-info" href="health.html">&laquo; Back</a></p>
      <hr>
      <footer>
        <p>&copy; HERP SPRING 2012</p>
      </footer>


    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../assets/js/jquery.js"></script>
    <script src="assets/js/bootstrap-transition.js"></script>
    <script src="../assets/js/bootstrap-alert.js"></script>
    <script src="../assets/js/bootstrap-modal.js"></script>
    <script src="../assets/js/bootstrap-dropdown.js"></script>
    <script src="../assets/js/bootstrap-scrollspy.js"></script>
    <script src="../assets/js/bootstrap-tab.js"></script>
    <script src="../assets/js/bootstrap-tooltip.js"></script>
    <script src="../assets/js/bootstrap-popover.js"></script>
    <script src="../assets/js/bootstrap-button.js"></script>
    <script src="assets/js/bootstrap-collapse.js"></script>
    <script src="../assets/js/bootstrap-carousel.js"></script>
    <script src="../assets/js/bootstrap-typeahead.js"></script>

  </body>
</html>

