<div class="row">
    <div class="span8">
        <h1>Your Events</h1>
    </div>
</div>
<div class="row">
    <div class="span6">
        <% @events.group_by(&:end_at).sort.reverse.each do |date,events| %>
          <h2><%= date %></h2>
          <% events.each do |event| %>
            <%= link_to "#{event.name}", event_path(event) %><br />
          <% end %>
        <% end %>
    </div>
</div>
