<div class="row">
    <div class="span8">
        <h1>Your Health Records</h1>
    </div>
</div>&nbsp;
<div class="row">
    <div class="span6">
        <%= link_to "Add Health Record", new_health_record_path %></br>
        <% @records.reverse.each do |record| %>
            <%= link_to "#{record.date_recorded}", health_record_path(record) %>
            </br>
        <%end%>
    </div>
</div>
