    <div class="row-fluid">
      <div class="span12">
        <h2><font size="36">About Urban Outfitters</font></h2></br>
        <p>Urban Outfitters is both a web and mobile application 
        <br>designed to assist Crossfit members in their daily 
        <br>exercise routines. The application was created
        <br>by team HERP in UCSD's Software Engineering class.</p>
      </div> 
    </div>
     
    <div class="row-fluid">
    <div class="span12">
</br>
        <h2><font size="36">Contact</font></h2></br>
        <p>
        <table width="500" border="0">
            <font size="20">
    <tr>
      <td><b>Roles</b></td>
      <td><b>Name</b></td>
    </tr>
    <tr>
      <td>Project Manager</td>
      <td>Jenner La Fave</td>
    </tr>
    <tr>
      <td>Subject Matter Expert</td>
      <td>Ryan Yu</td>
    </tr>
    <tr>
      <td>Senior System Analyst</td>
      <td>Chu Shao</td>
    </tr>
    <tr>
      <td>Software Architect</td>
      <td>Ben Renfew</td>
    </tr>
    <tr>
      <td>Software Development Lead</td>
      <td>Siddarth Sampangi</td>
    </tr>
    <tr>
      <td>Algorithm Specialist</td>
      <td>Jason Pasaribu, Jesse Wu</td>
    </tr>
    <tr>
      <td>Database Specialist</td>
      <td>Patrick Torbett, Jesse Wu</td>
    </tr>
    <tr>
      <td>Quality Assurance Lead</td>
      <td>Wilson Guo</td>
    </tr>
    <tr>
      <td>User Interface Specialist</td>
      <td>Christine He</td>
    </tr>
    </font> 
    </table>
        </p>
    </div> 
    </div>
