/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *= require bootstrap_and_overrides
 *= require_self
 *= require_tree .
*/

.container:before,
.container:after {
  display: inline;
  content: "";
}

.nav > li > a {
    display: inline;
    margin-top: 8px;
}

.navbar .nav > li > a {
    color: #EAEAEA;
    float: right;
    line-height: 19px;
    padding: 9px 10px 11px;
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

/*structural elements - generally adding padding*/
body {
  margin: 0;
  font-family: Miso, Arial, sans serif;
  font-size: 24px;
  line-height: 18px;
  color: #343434;
  background-color: #b7b7b7;
  background-image: url('../images/bgtexture2.png');
}

[class*="span"] {
  float: left;
  margin-left: 20px;
  padding: 5px;
  margin: 3px 0;
  background-color: #eeeeee;
  border-radius: 5px 5px 5px 5px;
}

.row-fluid [class*="span"] {
  display: block;
  width: 100%;
  min-height: 28px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  margin-left: 2.127659574%;
  *margin-left: 2.0744680846382977%;
  padding: 10px;
}

/*workout page cells*/
.row-fluid .span4blue{
  width: 31.914893614%;
  *width: 31.8617021246383%;
  height: 100px;
  background: #1aa9af;
}

.row-fluid .span4blue:hover{
  text-decoration: none;
  opacity: 0.8;
}

.row-fluid .span4gray {
  width: 31.914893614%;
  *width: 31.8617021246383%;
  height: 100px;
  background: #7e7e7e; 
}

.row-fluid .span4gray:hover{
  text-decoration: none;
  opacity: 0.8;
}

/*paragraph formatting - mostly font sizing*/
p {
  margin: 0 0 9px;
  font-family: 'Miso', Arial, sans serif;
  font-size: 24px;
  line-height: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: LeagueGothic, Arial, sans serif;
  font-weight: normal;
  color: #343434;
  text-rendering: optimizelegibility;
  text-transform: uppercase;
}

h1 {
  font-size: 35px;
  line-height: 36px;
}

h2 {
  font-size: 30px;
  line-height: 36px;
}

h3 {
  font-size: 25px;
  line-height: 27px;
}

#profileusername li{
  font-family: LeagueGothic;
  font-size: 35px;
  margin-bottom: 5px;
}

/*icon formatting - changed img src to images not img*/
[class^="icon-"],
[class*=" icon-"] {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-right: 5px;
  *margin-right: .3em;
  line-height: 14px;
  vertical-align: middle;
  background-image: url("../images/glyphicons-halflings.png");
  background-repeat: no-repeat;
}

.icon-white {
  background-image: url("../images/glyphicons-halflings-white.png");
}

/*nav bar*/
.nav > li > a {
  display: inline;
  margin-top:8px;
}

.navbar {
  color: #eaeaea;
}
.navbar .brand:hover {
  text-decoration: none;
  color: #eaeaea;
}

.navbar .brand {
  float: left;
  display: block;
  padding: 8px 20px 12px;
  margin-left: -20px;
  font-size: 35px;
  font-weight: 200;
  line-height: 1;
  color: #1aa9af;
  font-family: LeagueGothic, Arial, sans serif;
  text-transform: uppercase;
}

.navbar .navbar-link {
  color: #b7b7b7;
}
.navbar .navbar-link:hover {
  color: #1aa9af;
}
.navbar .nav > li > a:hover {
  background-color: transparent;
  color: #eaeaea;
  text-decoration: underline;
}
.navbar .nav .active > a,
.navbar .nav .active > a:hover {
  color: #1aa9af;
  text-decoration: underline;
  background-color: transparent;
}

/*hero unit index.html header thing*/
.hero-unit {
  padding: 40px;
  margin-bottom: 30px;
  background-image: url('../images/bgtexture1.png');
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

.hero-unit p {
  font-size: 22px;
  font-weight: 200;
  line-height: 27px;
  color: #eaeaea;
}

/*button font size*/
.btn {
  font-size: 24px;
}

.btn-large {
  font-size: 26px;
}