/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *= require bootstrap_and_overrides
 *= require responsiveoverride
 *= require_self
*/

/*structural elements - generally adding padding*/
body {
  font-size: 24px;
  background-image: url(image_path('bgtexture2.png'));
}

footer p {
  margin-left: 10px;
}

[class*="span"] {
  padding: 5px;
  margin: 3px 0;
  background-color: #eeeeee;
  border-radius: 5px 5px 5px 5px;
}

.row-fluid [class*="span"] {
  padding: 10px;
}

/*workout page cells*/
.row-fluid .blue .span4{
  height: 100px;
  background: #1aa9af;
}

.row-fluid .blue .span4:hover{
  text-decoration: none;
  opacity: 0.8;
}

.row-fluid .gray .span4 {
  height: 100px;
  background: #7e7e7e; 
}

.row-fluid .gray .span4:hover{
  text-decoration: none;
  opacity: 0.8;
}

/*paragraph formatting - mostly font sizing*/
p {
  font-size: 24px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #343434;
  text-transform: uppercase;
}

h1 {
  font-size: 35px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 25px;
}

#profileusername li{
  font-family: 'LeagueGothic', Arial, sans serif;
  font-size: 35px;
  margin-bottom: 5px;
}


/*nav bar*/
.nav > li > a {
  margin-top:8px;
}

.navbar {
  color: #eaeaea;
}
.navbar .brand:hover {
  color: #eaeaea;
}

.navbar .brand {
  font-size: 35px;
  font-family: 'LeagueGothic', Arial, sans serif;
  text-transform: uppercase;
}

.navbar .navbar-link {
  color: #b7b7b7;
}
.navbar .navbar-link:hover {
  color: #1aa9af;
}

.navbar .nav > li > a {
  float: center;
}

.navbar .nav > li > a:hover {
  color: #eaeaea;
  text-decoration: underline;
}
.navbar .nav .active > a,
.navbar .nav .active > a:hover {
  color: #1aa9af;
  text-decoration: underline;
}

/*hero unit index.html header thing*/
.hero-unit {
  padding: 40px;
  background-image: url(image_path('bgtexture1.png'));
}

.hero-unit p {
  font-size: 22px;
}

/*button font size*/
.btn {
  font-size: 24px;
}

.btn-large {
  font-size: 26px;
}
