// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@font-face {
    font-family: "League Gothic";
    src: url("../fonts/League Gothic.otf")
}

@font-face {
    font-family: "Miso";
    src: url("../fonts/Miso.otf")
} 

.row-fluid [class*="span"] {
  padding: 10px;
}

.row-fluid .span4blue{
  width: 31.914893614%;
  *width: 31.8617021246383%;
  height: 100px;
  background: #1aa9af;
}

.row-fluid .span4blue:hover{
  text-decoration: none;
  opacity: 0.8;
}

.row-fluid .span4gray {
  width: 31.914893614%;
  *width: 31.8617021246383%;
  height: 100px;
  background: #7e7e7e;
}

.row-fluid .span4gray:hover{
  text-decoration: none;
  opacity: 0.8;
}
h6 {
  font-weight: normal;
}
h1 {
  font-size: 35px;
}
h2 {
  font-size: 30px;

}
h3 {
  font-size: 25px;
}
h4 {
  font-size: 20px;
}
[class^="icon-"],
[class*=" icon-"] {
  margin-right: 5px;
  vertical-align: middle;
}
.nav > li > a {
  margin-top:8px;
}
.navbar .brand:hover {
  color: #eaeaea;
}
.navbar .brand {
  font-size: 35px;
  color: #1aa9af;
  font-family: 'League Gothic', Arial, sans serif;
}
.navbar .nav > li > a {
  color: #eaeaea;
}
.navbar .nav > li > a:hover {
  color: #eaeaea;
  text-decoration: underline;
}
.navbar .nav .active > a:hover {
  text-decoration: underline;
  background-color: transparent;

}
