<div class="row">
    <div class="span8">
        <h1>Exercises</h1>
    </div>
</div>&nbsp;
<div class="row">
    <div class="span6">
        <%= link_to "Add Exercise", new_exercise_path %></br>
        <h2>Standard Exercises</h2>
        <% if @officialExercises %>
          <% @officialExercises.each do |e| %>
            <% if e.exercise_category %>
              <%= link_to "#{e.exercise_category.category}", exercise_path(e) %>
              </br>
            <% end %>
          <% end %>
        <% end %>
        <% if @customExercises %>
          <h2>Custom Exercises</h2>
          <% @customExercises.each do |e| %>
            <% if e.exercise_category %>
              <%= link_to "#{e.exercise_category.category}", exercise_path(e) %>
              </br>
            <% end %>
          <% end %>
        <% else %>
          <p>You have no custom exercise at this time</p>
        <% end %>
    </div>
</div>
