<div class="row">
    <div class="span8">
        <h1>Your Trainers</h1>
    </div>
</div>&nbsp;
<div class="row">
  <div class="span8">
    <%= link_to "Add Trainer", new_trainer_path, :class => "btn btn-primary" %><br />
  </div>
</div>
<% if @trainers %>
    <% @trainers.each do |t| %>
        <div class="row">
            <div class="span8">
                <h2><%= link_to t.name, edit_trainer_path(t.id) %></h2>
                <p><%= h(t.description).gsub(/\n/, '<br/>').html_safe %></p>
                <small style="font-size: small;"><%= link_to 'Permalink', trainer_path(t.id) %></small>
            </div>
        </div>
    <% end %>
<% else %>
    <div class="row">
        <div class="span8">
            <h3>You currently have no trainers.</h3>
        </div>
    </div>
<% end %>
